<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-image: url("https://www.rosphoto.com/images/u/articles/1510/4_8.jpg");
            background-size: cover;
            object-fit: cover;
            display: flex;
            align-items: center;
            padding: 300px 700px 700px 500px;
        }
        form {
            text-align: center;
        }
    </style>
</head>
<body>

<form th:object="${genre}"
      th:action="@{/genre/{id}(id=${genre.getId()})}"
      th:method="post">

    <input th:text="name" th:field="*{name}" placeholder="name">
    <br>
    <input th:text="description" th:field="*{description}" placeholder="description">
    <br>
    <br>
    <button type="submit" style="color: red">UPDATE</button>

</form>

</body>
</html>