<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    form, input {
        text-align: center;
    }
</style>

<body>

<form th:object="${mail}"
      th:action="@{/mailsender/{id}(id=${mail.getId()})}"
      th:method="post">

    <input th:text="sender" th:field="*{sender}" placeholder="sender">
    <br>
    <input th:text="text" th:field="*{text}" placeholder="text">
    <br>
    <input th:text="createDate" th:field="*{createDate}" placeholder="createDate">
    <br>
    <br>
    <button type="submit" style="color:yellow">ADD</button>

</form>

</body>
</html>