<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    body{
        background-color: darkturquoise;
        display: flex;
        text-align: center;
        margin: 1000px 500px 400px 400px;
    }
    form, input {
    display: flex;
        font-size: 20px;

    }
</style>

<body>

<form th:object="${mail}"
      th:action="@{/mailsender/{id}(id=${mail.getId()})}"
      th:method="post">

    <input th:text="sender" th:field="*{sender}" placeholder="sender">
    <br>
    <input th:text="text" th:field="*{text}" placeholder="text">
    <br>
    <button type="submit" style="color:red">ADD</button>
</form>

</body>
</html>