<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<style>
    table {
        margin: auto; /* Устанавливаем автоматические отступы по бокам */
        border-collapse: collapse; /* Объединяем границы ячеек */
        width: 50%; /* Задаем ширину таблицы */
    }

    th, td {
        border: 1px solid black; /* Устанавливаем границы ячеек */
        padding: 8px; /* Устанавливаем внутренний отступ в ячейках */
        text-align: center; /* Выравниваем текст по центру */
    }
</style>

<body>
<h1>get- all</h1>

<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>AGE</td>
        <td>GMAIL</td>
        <td>PASSWORD</td>
        <td>ROLE</td>
        <td>CREAT-DATE</td>
        <td>SUBSCRIPTION-STATUS</td>
        <td>SUBSCRIPTION-TO-THE-LETTER</td>
        <td style="background-color: aqua">UPDATE</td>
        <td style="background-color: red">DELETE</td>
    </tr>

    <tr th:each="user:${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.gmail}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.createDate}"></td>
        <td th:text="${user.subscriptionStatus}"></td>
        <td th:text="${user.subscribeToTheNewsletter}"></td>
        <td>
            <a th:href="@{/users/update/{id}(id=${user.getId()})}">
                <button type="button" style="background-color:aqua">update</button>
            </a>
        </td>

        <td>
            <a th:href="@{/users/{id}(id=${user.id})}">
                <button type="button" style="background-color:red">delete</button>
            </a>
        </td>

    </tr>
</table>

</body>
</html>